@media screen and (max-width: 1020px) {

	.category{
		display: none;
	}
}

@media screen and (max-width: 768px) {

	.header-box{
		display: none;
	}
}


.header-box{
    background-image: url(/resources/source/pizza.jpg);
    background-size : 3600px;
    background-position: -100px;
    height: 150px;
    padding-top:50px;
	text-align: center;
}

.header-box h1 {
	color : white;
	font-weight: 700;
}

.gps-btn{
	background-color : white;
	box-shadow: none;
	border: none;
	height: 48px;
	width: 45px;
	border-radius: 5px;
}

.search-input-box{
	display: inline-flex;

}

#search-input{
	color:grey;
	height:48px;
	width: 300px;
	border:none;
	border-bottom-left-radius : 8px;
	border-top-left-radius : 8px;
	box-shadow: none;
	outline: none;
	font-size:15px;
	padding-left: 12px;
	padding-right: 12px;
}

#search-btn{
	border-bottom-right-radius : 8px;
	border-top-right-radius : 8px;
	height:48px;
	width:70px;
	background-color : red;
	box-shadow: none;
	border: none;
	color:white;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.wrapper{
	position: relative;
}

main{
	width: 100%;
}

.category{
	height: 60px;
	width: 100%;
	border-bottom: 1px solid rgb(209, 203, 203);
	
}

.category>ul{
	height: 60px;
	display: flex;
}

.category>.nav>li{
	height: 60px;
	font-size: 14px;

}

.category>.nav>li:hover{
	background-color: black;
	color: white;
}

.category-btn{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 18px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.contents{
	width: 100%;
	background-color: rgb(235, 232, 232);
	box-shadow: inset 0px 6px 6px -6px #666;
	
}

.diner-detail{
	margin-right: 10px;
	width: 650px;
}

.diner-header{
	margin-bottom: 30px;
	width: 100%;
	border: rgb(209, 203, 203) 1px solid;
}

.diner-name{
	border-bottom: 1px solid rgb(209, 203, 203);
	padding-left: 6px;
	height: 38px;

}

.diner-name-field{
	float: left;
	margin-top: 6px;
}

.dib-field{
	float: right;
	color: red;
	font-size: 25px;
	font-weight: 800;
	margin-top: -3px;
	margin-right: 15px;
}

.diner-info{
	display: flex;
	padding-top: 8px;
	line-height: 0.5;
	font-size: 13px;
}

.diner-img{
	margin-left: 10px;
	margin-right: 10px;
}

.score{
	color:rgb(194, 194, 34);
}

.diner-notice{
	height: 38px;
	padding-left: 10px;
	padding-top: 8px;
	border-top:  rgb(209, 203, 203) 1px solid;
	font-size: 12px;
}

.diner-notice>p{
	font-weight: 600;
}

.diner-notice>p>span{
	color: grey;
}

.diner-menu{
	border: rgb(209, 203, 203) 1px solid;
}

.diner-menu>ul{
	width: 100%;
}

.diner-menu>ul>li{
	width: 33%;
	border: none;
}
.diner-menu>ul>li>button{
	color:black;
	width: 100%;
	height: 45px;
	border: none;
	background-color: white;
}

.clicked{
	border-bottom: 5px solid red;
	border-width: 5px;
}

.swiper {
	width: 600px;
	height: 150px;
}

.swiper-slide{
	margin:0;
	padding:0;
	background-size: 130px 130px;
	background-repeat: no-repeat;
}

.swiper-slide>img{
	width:140px;
	height:140px;
}

.accordion-body{
	padding:0;
}

.diner-menu-card{
	border-bottom: 1px solid rgb(209, 203, 203);
	height: 110px;
}

.nav-item>.active{
	background-color: rgb(66, 62, 62);
	color:white;
}

.diner-menu-table{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	line-height: 0.6;
}

.diner-menu-title{
	font-weight: 700;
}

.diner-menu-combo{
	color: grey;
	font-size: 14px;
	line-height: 1;
}

.diner-menu-price{
	font-size: 14px;
}

.diner-menu-img{
	float: right;
}

.diner-score{
	padding: 20px;
	
}

.diner-score-total{
	width: 120px;
	padding: 10px;
	height: 60px;
	/* border-right: 1px solid rgb(192, 185, 185); */
}

.total-score{
	text-align: center;
	font-size: 50px;
	line-height: 0.3;
}

.total-star{
	font-size:15px;
	text-align: center;
	color:rgb(192, 192, 12);
}

.diner-score-each{
	padding-bottom: 0;
}

.diner-score-each>ul>li{
	list-style: none;
	font-size: 13px;
}

.diner-score-each>ul{
	padding-left: 20px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.diner-score-each>ul>li{
	margin-top: 1px;
}

.diner-score-each>ul>li>span:nth-child(2){
	color:rgb(228, 228, 36);
}

.diner-score-each>ul>li>span:nth-child(3){
	color:rgb(182, 182, 13);
}

.review-count{
	font-size: 13px;
	padding: 14px;
	color:grey;
	border-top: 1px solid rgb(209, 203, 203);
	height: 50px;
}

.review{
	padding: 10px;
	border-top: 1px solid rgb(209, 203, 203);
}

.add-review{
	cursor: pointer;
	border-top: 1px solid rgb(209, 203, 203);
	height: 100px;
	text-align: center;
	clear:both;
}

.review_spanBox{
    text-align: center;
}
.review_span{
    font-size: 15px;
    font-weight: 600;
}
.review_starT,.review_star{
    font-size: 20px;
}
.review_star{
    font-size: 20px;
    margin-right: 20px;
}
.review_content{
	border-left : none;
	border-right: none;
	border-top: 1px solid rgb(209, 203, 203);
	border-bottom: 1px solid rgb(209, 203, 203);
    font-size: 13px;
}
.review_multiplebox{
    text-align: center;
}
.review_multipleT{
	line-height: 55px;
	width: 60px;
    height: 60px;
    border: 1px solid grey;
    font-size: 20px;
    text-align: center;
}
.review_insertBox{
    text-align: center;
}
.review_insert{
    border: none;
    width: 200px;
    height: 40px;
    background-color: rgb(66, 62, 62);
    font-size: 18px;
    color: white;
}
.info-list{
	padding:15px;
}

.notice-title{
	border-bottom: 1px solid grey;
	padding: 5px;
	font-weight: 700;
}

.info-item{
	margin-top: 20px;
	margin-bottom: 50px;
}

.info-text{
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 2;
}

.info-text-narrow{
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.info-list-title{
	display: inline-block;
	width: 100px;
	color: grey;
}


.sub-title{
	background-color: rgb(66, 62, 62);
	padding: 10px;
	color: white;
}

.sub-title>span:nth-child(2){
	float: right;
}

.basket-item{
	font-size: 14px;
	padding: 10px;
	border-left: 1px solid rgb(209, 203, 203);
	border-right: 1px solid rgb(209, 203, 203);;
	border-bottom: 1px solid rgb(209, 203, 203);
}

.basket-menu{
	margin-bottom : 10px;
}

.basket-menu-price{
	height: 30px;
}

.basket-menu-price a{
	padding-bottom: 20px;
	align-items: center;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color : black;
	border: 1px solid rgb(209, 203, 203);
	width: 20px;
	height: 15px;
}

.basket-menu-price>div:nth-child(1){
	float: left;
}

.basket-menu-price>div:nth-child(2){
	float: right;
}

.basket-deli-price{
	text-align: right;
	padding:10px;
	height: 50px;
	border: 1px solid rgb(209, 203, 203);
}

.basket-deli-price>span{
	font-size: 14px;
}

.basket-total-price{
	background-color:antiquewhite;
	text-align: right;
	padding:10px;
	height: 50px;
	border: 1px solid rgb(209, 203, 203);
}

.basket-total-price>span{
	color:rgb(226, 69, 69);
	font-weight: 700;
}
#image_container>div>img{
	width:100px;
} 

/* 별점css */
#starform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}
#starform input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#starform label{
    font-size: 1.5em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 grey; /* 새 이모지 색상 부여 */
}
#starform label:hover{
    text-shadow: 0 0 0 #ffff00; /* 마우스 호버 */
}
#starform label:hover ~ label{
    text-shadow: 0 0 0 #ffff00; /* 마우스 호버 뒤에오는 이모지들 */
}
/* #starform fieldset legend{
    text-align: center;
} */
#starform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #ffff00; /* 마우스 클릭 체크 */
}


/* 별점 css */
#starInfo{
	text-align: center;
	color:grey;
	font-size: 15px;
	margin-left: 125px;
}
#starRadio{
	margin-left: 245px;
}
#trigger{
	width: 50px;
	height: 35px;
	border: 1px solid gray;
	background-color: white;
	font-size: 15px;
	color: gray;
}

/* 리뷰창 css */

.reviewBox{
	box-sizing: border-box;
	width: 585px;
	background: white;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 30px;
	clear:both;


}

.reviewer-id{
	font-size: 15px;
	color: rgb(8, 8, 8);
	text-indent : 2%;
	margin-top: 10px;
	font-weight: 600;
}
.review-time-ago{
	text-decoration: none;
	float: right;
	color: gray;
	font-size: 13px;
	
}
.review-a{
	color: gray;
	text-decoration: none;
	font-size: 14px;
	margin-left: 5px;
}

.review-point{
	font-size: 15px;
	color : rgb(243, 243, 30);
	text-indent : 2%;
}

.starScore{
	margin-left: 5px;
	color :  gray;
}

.star{
	color : rgb(243, 243, 30);
}


.review-menu{
	font-size: 13px;
	color: rgb(82, 184, 150);
	margin-bottom: 6px;
}

.review-content{
	font-size: 15px;
	text-indent : 2%;
	font-weight: 600;
}

#review_img{
	width: 180px;
	height: 180px;
	margin-left: 10px;
}

.bossCommentText{
	width: 450px;
	height: 30px;
	float: right;
	font-size: 12px;
	margin-top: 20px;
	margin-right: 115px;
	text-indent : 2%;
}


.bossComment, .bossCommentBtn{
	text-decoration: none;
	border: none;
	font-size: 15px;
	color: gray;
	float: right;
	margin-top: -27px;
	margin-right: 30px;
}

.bossCommentPrint{
	width: 500px;
	height: 60px;
	background: rgb(222, 226, 230);
	border: lpx solid gray;
	color: black;
	float: right;
	font-size: 14px;
	font-weight: 600;
	border-radius: 10px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-indent : 2%;
	clear:both;
}

.deleteBtn{
	border: none;
	background: none;
	float: right;
	font-size: 13px;
	color: gray;
}

#exampleModal{
	height:600px;
	margin-top : 30px;
}

.modal-img{
	width:100%;
	height:200px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.food-description{
	font-size:12px;
	color:grey;
}

.modal-food-price{
	border-top:1px solid #cfcfcf;
	font-size:14px;
	height:50px;
}

.item-list-wrap{
	border-top: 1px solid rgb(209, 203, 203);
}

.item-list-title>span{
	font-size:14px;
	color:#ed8512;
}

.form-check{
	margin-top:10px;
}

.modal-amount-wrap{
	border: 1px solid grey;
	
	
}

.modal-amount-wrap>a{
	line-height: 1;
	padding-top : 6px;
	padding-bottom : 2px;
	padding-left : 6px;
	padding-right : 6px;
	display:inline-block;
	text-decoration: none;
	color:grey;
}

.modal-amount{
	padding-top : 3px;
	font-weight:700;
	font-size:15px;
	text-align:center;
	width: 50px;
	border-left:1px solid grey;	
	border-right:1px solid grey;	
}

.modal-total-price-wrap{
	background-color : rgb(209, 203, 203);
	border-top: 1px solid rgb(209, 203, 203);
}

.modal-total-price-wrap>strong:nth-child(1){
	margin-top:5px;
}

.modal-total-price{
	padding:0;
	text-align: right;
}

.modal-total-price>strong{
	padding:0;
	font-size:22px;
	color:#ff0000;
	display:block;
}
.modal-total-price>span:nth-child(2){
	display:block;
	color:#ff0000;
	font-size:13px;
}
.modal-total-price>span:nth-child(3){
	display:block;
	font-size:13px;
}

.modal-footer{
	font-weight:600;
	color:white;
	text-align:center;
	padding:0;
	margin:0;
}

.modal-footer>div{
	margin:0;
	width:50%;
	height: 60px;
}

.choice-price{
	float:right;
}

.modal-order{
	background-color:red;
}

.add-basket{
	background-color:green;
}


.order-btn{
	cursor:pointer;
	margin-top : 10px;
	padding:10px;
	text-align : center;
	color:white;
	font-size : 20px;
	background-color:#cf5430;
}
