html, body {
    height: 100%;
}
header{
    height: 68px;
    background-color:#e3e1e2;
}

header>div{
	width:900px;
}
#logo_img{
	width:80px;
	margin-top:-5px;
}
header>.nav{
    float: right;
}
header>.logo{

}

.box>.nav-link,.box2>.nav-link {
	color: grey;
}
header>nav>.nav-item{

}

.hasBasket{
	background-color: #f2B72c;
}

.box2{
	border-collapse: collapse;
	border : 1px solid grey;
}

.box2:hover{
	border : none;
	background-color: #ff8000;
	color:white;
}

@media screen and (max-width: 1200px) {

    header>.logo{
        margin-left:15% ;
    }
    header>.nav{
        margin-right: 150px;
    }
}

@media screen and (max-width: 768px) {

    header>.logo{
        margin-left:0% ;
    }
    header>.nav{
        margin-right: 30px;
    }
    header>nav>.nav-item{
        margin-right: 10px;
    }
}