html, body {
    height: 100%;
}
header{
    height: 68px;
    background-color:#e3e1e2;
}

header>div{
	width:900px;
}
#logo_img{
	width:80px;
	margin-top:-5px;
}
header>.nav{
    float: right;
}
header>.logo{

}

.box>.nav-link,.box2>.nav-link {
    color: rgba(59, 56, 56, 0.938);
}
header>nav>.nav-item{

}
.box,.box2{
    border: 1px solid rgba(59, 56, 56, 0.938);
    /*  margin-right:10px; */
   /*  border-radius: 10px; */

}
.box2{
	border-left:none;
}

@media screen and (max-width: 1200px) {

    header>.logo{
        margin-left:15% ;
    }
    header>.nav{
        margin-right: 150px;
    }
}

@media screen and (max-width: 768px) {

    header>.logo{
        margin-left:0% ;
    }
    header>.nav{
        margin-right: 30px;
    }
    header>nav>.nav-item{
        margin-right: 10px;
    }
}