header{
    height: 68px;
    background-color:rgba(96, 145, 81);
}
#logo_img{
	 margin-top:-35px ;
}
.nav{
    float: right;
    margin-right: 300px;
}
.logo{
    margin-left:20% ;
}

.nav-link {
    color: white;
}
.nav-item{
    margin-right: 30px;
}
.box{
    border: 1px solid rgb(31, 49, 25);
    border-radius: 10px;

}


@media screen and (max-width: 1200px) {

    .logo{
        margin-left:15% ;
    }
    .nav{
        margin-right: 150px;
    }
}

@media screen and (max-width: 768px) {

    .logo{
        margin-left:10% ;
    }
    .nav{
        margin-right: 30px;
    }
    .nav-item{
        margin-right: 10px;
    }
}