.header-box{
    background-image: url(/resources/source/pizza.jpg);
    background-size : 3600px;
    background-position: -100px;
    height: 300px;
    padding-top:100px;
	text-align: center;
}

.header-box h1 {
	color : white;
	font-weight: 700;
}

.search-box{
}

.gps-btn{
	background-color : white;
	box-shadow: none;
	border: none;
	height: 48px;
	width: 45px;
	border-radius: 5px;
}

.search-input-box{
	display: inline-flex;

}

#search-input{
	color:grey;
	height:48px;
	width: 300px;
	border:none;
	border-bottom-left-radius : 8px;
	border-top-left-radius : 8px;
	box-shadow: none;
	outline: none;
	font-size:15px;
	padding-left: 12px;
	padding-right: 12px;
}

#search-btn{
	border-bottom-right-radius : 8px;
	border-top-right-radius : 8px;
	height:48px;
	width:70px;
	background-color : red;
	box-shadow: none;
	border: none;
	color:white;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.card-box{
		border : 1px solid rgb(181, 190, 193);
		width : 215px;
		height : 200px;
		margin : 6px;
		background-color: white;
		padding : 10px;
		font-size: 13px;
		font-weight: 700;
		cursor:pointer;
}

main{
	padding-top: 10px;
	padding-bottom: 20px;
	background-color : rgb(244, 250, 252);
}

.event{
	background-image: url("/resources/source/yuk.png"); 
	background-size: 170px;
	background-repeat: no-repeat;
	background-position: 0px 35px;
}

.event:hover{
	background-size : 230px;
}

.all{
	background-image: url("/resources/source/knife.png"); 
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: 100px 60px;
}

.forone{
	background-image: url("/resources/source/forone.png"); 
	background-size: 215px;
	background-position:0px 40px;
	background-repeat: no-repeat;
}

.franchise{
	background-image: url("/resources/source/franchise.png"); 
	background-size: 180px;
	background-position:30px 43px;
	background-repeat: no-repeat;
}

.chicken{
	background-image: url("/resources/source/chicken.png"); 
	background-size: 300px;
	background-position:0px 30px;
	background-repeat: no-repeat;
}

.pizza{
	background-image: url("/resources/source/pizza.png"); 
	background-size: 300px;
	background-position:10px 70px;
	background-repeat: no-repeat;
}
.chinese{
	background-image: url("/resources/source/chinese.png"); 
	background-size: 250px;
	background-position:0px 40px;
	background-repeat: no-repeat;
}
.korean{
	background-image: url("/resources/source/korean.png"); 
	background-size: 300px;
	background-position:0px 20px;
	background-repeat: no-repeat;
}

.japanese{
	background-image: url("/resources/source/cutlet.png"); 
	background-size: 220px;
	background-position:0px 50px;
	background-repeat: no-repeat;
}
.pork{
	background-image: url("/resources/source/pork.png"); 
	background-size: 260px;
	background-position:20px 60px;
	background-repeat: no-repeat;
}

.nightfood{
	background-image: url("/resources/source/nightfood.png"); 
	background-size: 250px;
	background-position:0px 40px;
	background-repeat: no-repeat;
}

.kimbob{
	background-image: url("/resources/source/kimbob.png"); 
	background-size: 340px;
	background-position:-20px 40px;
	background-repeat: no-repeat;
}

.dessert{
	background-image: url("/resources/source/dessert.png"); 
	background-size: 240px;
	background-position:25px 40px;
	background-repeat: no-repeat;
}

.mart{
	background-image: url("/resources/source/lunchbox.png"); 
	background-size: 200px;
	background-position:20px 100px;
	background-repeat: no-repeat;
}