
.wrapper{
	width:1000px;
}

.btn{
	font-size:14px;
	width:130px;
	margin-top: 5px;
}

@media screen and (max-width: 768px) {

	.wrapper{
	  width:500px;
	}
	.card-body{
	  text-align: center;
	}
	
	.card-end{
	  text-align: center;
	}
	
	.card>div{
	  padding : 10px;
	}
}