* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card-wrap{
	border-radius: 10px;
	border: 2px solid #dbdbdb;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 5px 5px grey;
}

.card-head{
	font-size : 26px;
	margin-bottom: 15px;
	padding-top: 20px;
	font-weight: 600;
	float: left;
}

.btn-group{
	float: right;
	padding-bottom: 20px;
}

.dinerName{
	font-size: 22px;
	font-weight: 500;
	margin: 10px 0 10px 0;
	
}

.card{
	float: left;
}

.btn{
	border-radius: 5px;
	width : 140px;
	font-size: 15px;
}