* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.category{
	height: 60px;
	width: 100%;
	border-bottom: 1px solid rgb(209, 203, 203);
	
}

.category>ul{
	height: 60px;
	display: flex;
}

.category>.nav>li{
	height: 60px;
	font-size: 14px;
}

.category>.nav>li:hover{
	background-color: black;
	color: white;
}

.active{
	background-color: black;
	color: white;
}

.category-btn{
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 18px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.wrap-sign{
   position: relative;
   display: flex;
   justify-content: center;
}

.wrap-input{
    line-height: 110%;
}

.wrap-input input:focus{
    outline: 2px solid rgb(151, 143, 143);
}

.input{
    width: 400px;
    height: 50px;
    font-size: 14px;
    box-sizing: border-box;
    text-indent: 10px;
}

::placeholder{
    text-indent: 10px;
}

#id-box{
    position: relative;
}

.dupBtn{
    position: absolute;
    top: 15%;
    right: 3.4%;
}

.checkNum{
    width: 400px;
    height: 50px;
    font-size: 14px;
    box-sizing: border-box;
    text-indent: 10px;
}

.checkNum:focus{
    outline: 1px solid rgb(96, 145, 81);
}

.logoImg{
    width: 200px;
    height: 160px;
    margin-bottom: 0;
    margin-left: 22%;
}

#modBtn-box, #delBtn-box{
    width: 200px;
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
}

.modBtn, .delBtn, .updateBtn{
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.modBtn, .delBtn{
    width: 180px;
    outline: 2px solid rgb(153, 156, 152);
}

.updateBtn{
    width: 400px;
    height: 50px;
    border: 2px solid rgb(153, 156, 152);
}

.modBtn, .updateBtn{
    color: rgb(96, 145, 81);
}

.modBtn:hover, .updateBtn:hover{
    background-color: rgb(96, 145, 81);
    color: white;
}

.delBtn{
    color: rgba(238, 34, 34, 0.918);
}

.delBtn:hover{
    background-color: rgba(238, 34, 34, 0.918);
    color: white;
}