<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.delivery.repository.DinerDAO">

<select id="selectListAll" resultType="com.ezen.delivery.domain.DinerVO">
	select * from diner order by diner_code desc;
</select>

<select id="selectListFirst" resultType="com.ezen.delivery.domain.DinerVO">
	select * from diner limit 0, 20
</select>

<sql id="select_diner">
select diner_code, file_code, diner_name, diner_address, diner_min_pay, diner_notice, diner_open_time, diner_close_time, diner_method_pay,
			diner_business_name, diner_company_num, diner_category, diner_delivery_fee, ST_X(diner_addr_point) as diner_addr_lng, 
			ST_Y(diner_addr_point) as diner_addr_lat, diner_score_avg, diner_review_count from diner
</sql>

<select id="selectListByDistance" parameterType="com.ezen.delivery.domain.PagingVO" resultType="com.ezen.delivery.domain.DinerVO">
	<include refid="select_diner"></include>
	where ST_Distance_Sphere(diner_addr_point, point(#{lng}, #{lat})) <![CDATA[ <10000 ]]> order by ST_Distance_Sphere(diner_addr_point, point(#{lng}, #{lat})) limit #{startNum}, 10
</select>

<select id="selectListByReview" parameterType="com.ezen.delivery.domain.PagingVO" resultType="com.ezen.delivery.domain.DinerVO">
	<include refid="select_diner"></include>
	where ST_Distance_Sphere(diner_addr_point, point(#{lng}, #{lat})) <![CDATA[ <10000 ]]> order by diner_review_count desc limit #{startNum}, 10
</select>

<select id="selectListByScore" parameterType="com.ezen.delivery.domain.PagingVO" resultType="com.ezen.delivery.domain.DinerVO">
	<include refid="select_diner"></include>
	where ST_Distance_Sphere(diner_addr_point, point(#{lng}, #{lat})) <![CDATA[ <10000 ]]> order by diner_score_avg desc limit #{startNum}, 10
</select>

<select id="selectCathListByDistance" parameterType="com.ezen.delivery.domain.PagingVO" resultType="com.ezen.delivery.domain.DinerVO">
	<include refid="select_diner"></include>
	where diner_category like concat('%', #{category}, '%') order by ST_Distance_Sphere(diner_addr_point, point(#{lng}, #{lat})) limit #{startNum}, 10 
</select>

<select id="selectCathListByReview" parameterType="com.ezen.delivery.domain.PagingVO" resultType="com.ezen.delivery.domain.DinerVO">
	<include refid="select_diner"></include>
	where diner_category like concat('%', #{category}, '%') and ST_Distance_Sphere(diner_addr_point, point(#{lng}, #{lat})) <![CDATA[ <10000 ]]> order by diner_review_count desc limit #{startNum}, 10
</select>

<select id="selectCathListByScore" parameterType="com.ezen.delivery.domain.PagingVO" resultType="com.ezen.delivery.domain.DinerVO">
	<include refid="select_diner"></include>
	where diner_category like concat('%', #{category}, '%') and ST_Distance_Sphere(diner_addr_point, point(#{lng}, #{lat})) <![CDATA[ <10000 ]]> order by diner_score_avg desc limit #{startNum}, 10
</select>

<insert id="insert">
insert into diner(file_code, diner_name, diner_address, diner_min_pay, diner_notice, diner_open_time, diner_close_time, diner_method_pay,
			 diner_business_name, diner_company_num, diner_category, diner_delivery_fee, diner_addr_point)
		value(#{file_code}, #{diner_name}, #{diner_address}, #{diner_min_pay}, #{diner_notice}, #{diner_open_time}, #{diner_close_time}, 
			#{diner_method_pay}, #{diner_business_name}, #{diner_company_num}, #{diner_category}, #{diner_delivery_fee}, POINT(#{diner_addr_lng}, #{diner_addr_lat}))
</insert>

<select id="selectDiner" resultType="com.ezen.delivery.domain.DinerVO">
	select diner_code, file_code, diner_name, diner_address, diner_min_pay, diner_notice, diner_open_time, diner_close_time, diner_method_pay,
			diner_business_name, diner_company_num, diner_category, diner_review_count, diner_delivery_fee, ST_X(diner_addr_point) as diner_addr_lng, ST_Y(diner_addr_point) as diner_addr_lat from diner where diner_code = #{diner_code}
</select>

<update id="update">
	update diner set file_code=#{file_code}, diner_name=#{diner_name}, diner_address=#{diner_address}, diner_min_pay=#{diner_min_pay}, diner_notice=#{diner_notice}, 
			diner_open_time=#{diner_open_time}, diner_close_time=#{diner_close_time}, diner_method_pay=#{diner_method_pay}, diner_business_name=#{diner_business_name}, 
			diner_company_num=#{diner_company_num}, diner_category=#{diner_category}, diner_delivery_fee=#{diner_delivery_fee}, diner_addr_point=POINT(#{diner_addr_lng}, #{diner_addr_lat}) where diner_code=#{diner_code}
</update>

<delete id="delete">
	delete from diner where diner_code = #{diner_code}
</delete>

<update id="updateScore">
	update diner set diner_score_avg = #{diner_score_avg} where diner_code = #{diner_code}
</update>

<select id="selectTotalCount" resultType="int">
	select count(*) from diner
</select>

<select id="selectWithAdminPaging" resultType="com.ezen.delivery.domain.DinerVO">
	<include refid="select_diner"></include>
	limit #{pageStart},#{qty}
</select>

</mapper>