<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.delivery.repository.ReviewDAO">
<!-- diner 컨트롤러랑 연결(리뷰등록) -->
<!-- <insert id="insertReview" parameterType="com.ezen.delivery.domain.ReviewVO">
	insert into review (review_diner_code,review_user_id,review_content,
	review_taste_score,review_amount_score,review_delivery_score)
	values (#{review_diner_code}, #{review_user_id}, #{review_content},
	#{review_taste_score},#{review_amount_score},#{review_delivery_score})
	<selectKey keyProperty="review_code" resultType="int" order="BEFORE">
      SELECT IFNULL(MAX(review_code+1),1) from review
   </selectKey>
</insert> -->


<!-- 리뷰컨트롤러랑 연결(post) -->
<!-- <insert id="insertReview" parameterType="com.ezen.delivery.domain.ReviewVO">
	insert into (review_diner_code,review_user_email,review_content)
	values (#{review_diner_code}, #{review_user_email}, #{review_content})
</insert> -->
<!-- 리뷰컨트롤러랑 연결(get) -->

<select id="selectReview" resultType="com.ezen.delivery.domain.ReviewVO">
	select * from review where review_diner_code=#{review_diner_code}
</select>

<insert id="insertReview" parameterType="com.ezen.delivery.domain.ReviewVO">
	insert into review (review_user_id,review_content)
	values (#{review_user_id}, #{review_content})
</insert>

</mapper>