<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ezen.delivery.repository.UserDAO">
	<select id="getUser" resultType="com.ezen.delivery.domain.UserVO">
		select * from user 
		where user_id = #{user_id}
	</select>
	
	<insert id="insertUser">
		insert into user (user_id, user_email, user_pw, user_name, user_phone, user_birth, user_Role, provider, providerId)
		values (#{user_id}, #{user_email}, #{user_pw}, #{user_name}, #{user_phone}, #{user_birth}, #{user_Role}, #{provider}, #{providerId})
	</insert>
	
	<insert id="insertNaverUser">
		insert into user (user_id, user_email, user_name, user_phone, user_birth, user_naver_id)
		values (#{user_id}, #{user_email}, #{user_name}, #{user_phone}, #{user_birth}, #{user_naver_id})
	</insert>
	
	<select id="selectCntByEmail" resultType="int">
		select count(*) from user 
		where user_email = #{user_email}
	</select>
	
	<select id="selectCntById" resultType="int">
		select count(*) from user 
		where user_id = #{user_id}
	</select>
	
	<select id="selectAllId" resultType="java.lang.String">
		select user_id from user
	</select>
	
	<select id="findIdByEmail" resultType="com.ezen.delivery.domain.UserVO">
		select user_id from user
		where user_email = #{user_email} 
	</select>
	
	<select id="getUserPw" resultType="com.ezen.delivery.domain.UserVO">
		select * from user 
		where user_email = #{getEmail}
	</select>
	
	<update id="updatePw">
		update user set 
		user_pw = #{new_pw}, user_modify_date = now()
		where user_email = #{getEmail}
	</update>
	
	<select id="selectUserOne" resultType="com.ezen.delivery.domain.UserVO">
		select * from user 
		where user_id = #{user_id}
	</select>
	
	<update id="updateUser">
		update user set 
		user_pw = #{new_pw}, user_phone = #{new_phone}, user_modify_date = now()
		where user_id = #{user_id}
	</update>
	
	<update id="updateUserFromAdmin">
		update user set
		user_email = #{user_email}, user_pw = #{user_pw}, 
		user_name = #{user_name}, user_phone = #{user_phone}, 
		user_birth = #{user_birth}, user_modify_date = now()
		where user_id = #{user_id}
	</update>
	
	<delete id="deleteUser">
		delete from user 
		where user_id = #{user_id}
	</delete>
	
	<select id="selectList" resultType="com.ezen.delivery.domain.UserVO">
		select * from user
	</select>
	
	 <update id="updateLoginFailCnt">
		update user set
		user_login_fail = user_login_fail + 1
		where user_id = #{user_id}
	</update>
	
</mapper>